<header>
      <div class="placeholder floating_element wrap2">nothing here</div>
      <div class="page_header floating_element wrap2" id="trigger2">
 	  <img alt="box logo" src="/assets/images/logos/xyzlogo18.png" class="floating_element site_logo"/>
          <h1 class="floating_element site_title">s parker</h1>
  	  <div class="center_logo_title"><img alt="{{ smp box logo }}" src="/assets/images/logos/xyzlogotitle.png" class="site_logo_title"/></div>
     </div>
	  <script type="text/javascript" src="{{ "/assets/scripts/jquery-3.1.0.min.js"|  prepend: site.baseurl }}"></script>

    <nav>
     <div class="table_of_contents floating_element site-nav">
	<div class="toc_show section_header section_header_grey">
	  table of contents
	</div>
	  <div class="svg_center">
	  <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
	  </a>
	  </div>
      <div class="trigger">
	<div class="mobile-nav">
        {% for my_page in site.pages %}
          {% if my_page.title %}
	  <div class="table_of_contents_item floating_element"> 
	    <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
	  </div>
          {% endif %}
        {% endfor %}
	</div>
      </div>

    <div class="pc-nav">
        {% for my_page in site.pages %}
          {% if my_page.title %}
	  <div class="table_of_contents_item floating_element"> 
	    <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
	  </div>
          {% endif %}
        {% endfor %}
	</div>


    </nav>
    </div>
</header>
