* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; }

h1, h2, h3, h4, h5, p, a, div, header, li, ul, ol, span {
  font-size: 12px; }

h1.site_title {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 100; }

.robot {
  font-family: "Times New Roman" !important;
  font-weight: 100 !important;
  font-decoration: none !important; }

body, html {
  padding: 3px 3px 3px 3px;
  background-color: #D8DBE2;
  font-family: Verdana, sans-serif; }
  @media screen and (max-width: 600px) {
    body, html {
      background-color: #ffffff; } }

.main_page {
  position: relative;
  width: 100%;
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px 0px 0px;
  border-width: 2px;
  border-color: #212738;
  border-style: solid;
  background-color: #FFFFFF;
  text-align: center; }
  @media screen and (max-width: 600px) {
    .main_page {
      border-width: none;
      border-style: none;
      border-color: none; } }

.table_of_contents {
  clear: left;
  margin: 3px 3px 3px 3px;
  text-align: left; }
  @media screen and (max-width: 800px) {
    .table_of_contents {
      z-index: 1; } }
  @media screen and (max-width: 600px) {
    .table_of_contents {
      margin-left: 50px;
      z-index: 5000; } }

.table_of_contents_item {
  clear: left;
  margin: 4px 0px 0px 0px;
  background-color: #FFFFFF;
  color: #000000;
  text-align: left; }

.table_of_contents_item a {
  margin: 6px 0px 0px 6px; }

.content_section {
  max-width: -webkit-calc(800px - (30px * 2) - 5);
  max-width: calc(800px - (30px * 2) - 5);
  padding: 3px 3px 3px 3px;
  display: inline-block;
  width: 98%;
  background-color: #FFFFFF; }

.content_section_text {
  max-width: -webkit-calc(800px - (30px * 2) - 5);
  max-width: calc(800px - (30px * 2) - 5);
  padding: 4px 8px 4px 8px;
  display: inline-block;
  text-align: left;
  color: #000000;
  font-size: 100%; }

.content_section_text pre {
  margin: 8px 0px 8px 0px;
  padding: 8px 8px 8px 8px;
  border-width: 1px;
  border-style: dotted;
  border-color: #000000;
  background-color: #F5F6F7;
  font-style: italic; }

.content_section_text p {
  margin-bottom: 6px; }

.content_section_text ul, .content_section_text li {
  padding: 4px 8px 4px 16px; }

.section_header {
  padding: 3px 6px 3px 6px;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 98%;
  background-color: #8E9CB2;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center; }

.section_header_red {
  background-color: #CD214F; }

.section_header_grey {
  background-color: #9F9386; }

.floating_element {
  position: relative;
  float: left; }

.table_of_contents_item a,
.content_section_text a {
  text-decoration: none;
  font-weight: bold; }

.table_of_contents_item a:link,
.table_of_contents_item a:visited,
.table_of_contents_item a:active {
  color: #000000; }

.table_of_contents_item a:hover {
  background-color: #000000;
  color: #FFFFFF; }

.content_section_text a:link,
.content_section_text a:visited,
.content_section_text a:active {
  background-color: #DCDFE6;
  color: #000000; }

.content_section_text a:hover {
  background-color: #000000;
  color: #DCDFE6; }

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px)); } }
  @media screen and (max-width: 600px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px)); } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #CD214F; }

/**
  * Randos
  */
.center {
  text-align: center; }
  .center img {
    max-width: 400px; }

/**
 * Site header
 */
.site-nav .mobile-nav, .nav-opaque .mobile-nav {
  display: none; }
@media screen and (max-width: 800px) {
  .site-nav .mobile-nav, .nav-opaque .mobile-nav {
    display: none; }
  .site-nav .pc-nav, .nav-opaque .pc-nav {
    display: inline-block; } }
.site-nav .menu-icon, .nav-opaque .menu-icon {
  display: none;
  width: 36px;
  height: 36px;
  text-align: center; }
@media screen and (max-width: 600px) {
  .site-nav, .nav-opaque {
    position: fixed; }
    .site-nav .mobile-nav, .nav-opaque .mobile-nav {
      display: inline-block;
      background-color: #fff;
      z-index: 5000;
      width: 100vw;
      position: fixed;
      margin-top: 90px;
      left: 0;
      font-size: 20px;
      border: solid 2px #cd214f;
      border-radius: 5px; }
    .site-nav .pc-nav, .nav-opaque .pc-nav {
      display: none; }
    .site-nav .toc_show, .nav-opaque .toc_show {
      display: none; }
    .site-nav .menu-icon, .nav-opaque .menu-icon {
      position: fixed;
      display: inline-block;
      top: 31px;
      width: 36px;
      height: 36px;
      line-height: 0;
      padding-top: 10px; }
      .site-nav .menu-icon > svg, .nav-opaque .menu-icon > svg {
        width: 18px;
        height: 15px;
        padding: 5px;
        border-radius: 5px;
        border: solid 3px #9f9386; }
        .site-nav .menu-icon > svg path, .nav-opaque .menu-icon > svg path {
          fill: #CD214F; }
    .site-nav .trigger, .nav-opaque .trigger {
      clear: both;
      display: none; }
    .site-nav:hover .trigger, .nav-opaque:hover .trigger {
      display: inline-block;
      padding-bottom: 5px;
      background-color: transparent; }
    .site-nav .page-link, .nav-opaque .page-link {
      display: block;
      margin-right: 0; } }

.site-title {
  font-size: 32px;
  position: relative;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 2px; }
  .site-title, .site-title:visited, .site-title:hover {
    text-decoration: none; }

/**
 * Site footer
 */
.site-footer {
  padding: 30px 0;
  margin: 15px;
  text-align: center;
  display: inline-block;
  width: 100%; }

.footer-stars {
  text-align: center;
  font-size: 24px; }

.social-media-list {
  list-style: none;
  margin-left: 0;
  text-decoration: none; }

.footer-col-wrapper {
  font-size: 15px;
  margin-left: -15px; }

@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px));
    width: calc(100% - (30px)); } }
/**
 * Page content
 */
.post-list-items {
  margin-left: 0;
  list-style: none;
  font-weight: 300; }
  .post-list-items > li {
    margin-bottom: 30px; }

.post-meta {
  line-height: 24px;
  font-size: 10px;
  text-align: right;
  font-weight: 200;
  display: inline-block;
  float: right; }

.post-link {
  display: inline-block; }
  .post-link:hover {
    text-decoration: none; }

/**
 * Posts
 */
.post-heade {
  margin-bottom: 30px;
  padding-top: 25px; }

.post-content {
  padding: 10px;
  margin-bottom: 30px;
  max-width: 100%;
  word-wrap: break-word; }

.placeholder {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  font-size: 32px;
  background-color: #F5F6F7;
  height: 99px; }

.page_header {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  font-size: 32px;
  border: solid 2px #000000;
  position: fixed;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 99px;
  background-color: #F5F6F7;
  z-index: 4500; }
  .page_header .site_logo_title {
    display: none; }
  .page_header .site_logo {
    display: inline-block; }
  .page_header .site_title {
    display: inline-block; }
  @media screen and (max-width: 800px) {
    .page_header .site_logo_title {
      display: none; }
    .page_header .site_logo {
      display: inline-block; }
    .page_header .site_title {
      display: inline-block; } }
  @media screen and (max-width: 600px) {
    .page_header {
      border-top: solid 2px #9f9386;
      border-bottom: solid 2px #9f9386;
      border-left: none;
      border-right: none; }
      .page_header .site_logo_title {
        display: inline-block; }
      .page_header .site_logo {
        display: none; }
      .page_header .site_title {
        display: none; } }

.page_header span {
  margin: 15px 0px 0px 50px;
  font-size: 180%;
  font-weight: bold; }

.wrap2 {
  text-align: center;
  width: 100%; }

.site_title {
  height: 30px;
  margin: 35px 40px;
  float: right;
  display: block; }

.site_logo {
  margin: 15px 0px 0px 60px;
  height: 80px;
  border: 0px 0px 0px; }

.site_logo_title {
  margin-top: 15px;
  height: 80px;
  border: 0px 0px 0px;
  display: inline-block; }

.center_logo_title {
  display: block;
  text-align: center;
  width: 100%; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
