* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
h1,h2,h3,h4,h5,p,a,div,header,li,ul,ol,span {
 @include media-query($on-palm) {
  }
 font-size: 12px;
}
h1.site_title {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 100;
}
.robot {
    font-family: "Times New Roman"!important;
    font-weight: 100!important;
    font-decoration: none!important;
}
  body, html {
    padding: 3px 3px 3px 3px;
    //background-image: url("assets/images/blog_bg.jpg");
    background-color: #D8DBE2;
    font-family: Verdana, sans-serif;
    @include media-query($on-palm) {
      background-color: #ffffff;
    }
  }
  .main_page {
    position: relative;
    width: 100%;
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;
    border-width: 2px;
    border-color: #212738;
    border-style: solid;
    background-color: #FFFFFF;
    text-align: center;

    //sadie
    @include media-query($on-palm) {
      border-width: none;
      border-style: none;
      border-color: none;
    }
  }
  
 .table_of_contents {
   @include media-query($on-laptop) {
      z-index: 1;
    } 
    clear: left;
    @include media-query($on-palm) {
      margin-left: 50px;
      z-index: 5000;
    }
    //min-width: 200px;
    margin: 3px 3px 3px 3px;
   // background-color: #FFFFFF;
    text-align: left;
  }

  .table_of_contents_item {
    clear: left;
    //width: 100%;
    margin: 4px 0px 0px 0px;
    background-color: #FFFFFF;
    color: #000000;
    text-align: left;
  }

  .table_of_contents_item a {
    margin: 6px 0px 0px 6px;
  }

  .content_section {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2) - 5);
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2) - 5);
    padding: 3px 3px 3px 3px;
    display: inline-block;
    width: 98%;
    background-color: #FFFFFF;
  }

  .content_section_text {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2) - 5);
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2) - 5);
    padding: 4px 8px 4px 8px;
    display: inline-block;
    text-align: left;
    //width: 98%;
    color: #000000;
    font-size: 100%;
  }

  .content_section_text pre {
    margin: 8px 0px 8px 0px;
    padding: 8px 8px 8px 8px;

    border-width: 1px;
    border-style: dotted;
    border-color: #000000;

    background-color: #F5F6F7;

    font-style: italic;
  }

  .content_section_text p {
    margin-bottom: 6px;
  }

  .content_section_text ul, .content_section_text li {
    padding: 4px 8px 4px 16px;
  }

  .section_header {
    padding: 3px 6px 3px 6px;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 98%;
    background-color: #8E9CB2;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
  }

  .section_header_red {
    background-color: #CD214F;
    //width: 100%;
  }

  .section_header_grey {
    background-color: #9F9386;
  }

  .floating_element {
    position: relative;
    float: left;
  }

  .table_of_contents_item a,
  .content_section_text a {
    text-decoration: none;
    font-weight: bold;
  }

  .table_of_contents_item a:link,
  .table_of_contents_item a:visited,
  .table_of_contents_item a:active {
    color: #000000;
  }

  .table_of_contents_item a:hover {
    background-color: #000000;

    color: #FFFFFF;
  }

  .content_section_text a:link,
  .content_section_text a:visited,
   .content_section_text a:active {
    background-color: #DCDFE6;

    color: #000000;
  }

  .content_section_text a:hover {
    background-color: #000000;

    color: #DCDFE6;
  }

  .validator {
  }
 


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    }
    @include media-query($on-palm) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));

    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: #CD214F; //#9F9386;
	}

;
    }
}

/**
  * Randos
  */

.center {
    text-align: center;
    img { max-width: $content-width - $content-width / 2; }
}

/**
 * Site header
 */
.site-nav {
    .mobile-nav {
	display:none;
    }

    @include media-query($on-laptop) {
      .mobile-nav {
	display:none;
      }
      .pc-nav {
	display: inline-block;
      }
    }
    .menu-icon {
        display: none;
	width: 36px;
	height: 36px;
	text-align: center;
    }
    .page-link {
    }
    
    @include media-query($on-palm) {
    .mobile-nav {
      display: inline-block;
      background-color: #fff;
      z-index: 5000;
      width: 100vw;
      position: fixed;
      margin-top: $header-height * 3;
      left: 0;
      font-size: 20px;
      border: solid 2px $grey-color-dark;
      border-radius: 5px;
    }
    .pc-nav {
      display: none;
    }
    .toc_show {
      display: none;
    }
    position: fixed;
   .menu-icon {
	    position: fixed; 
	    display: inline-block;
	    top: 31px;
            width: 36px;
            height: 36px;
            line-height: 0;
            padding-top: 10px;
            > svg {
                width: 18px;
                height: 15px;
		padding: 5px;
		border-radius: 5px;
		border: solid 3px #9f9386;
                path {
                    fill: #CD214F;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: inline-block;
            padding-bottom: 5px;
	    background-color: rgba(0,0,0,0); 
        }

        .page-link {
            display: block;
	    margin-right: 0;
        }
    }
}

.nav-opaque {
  @extend .site-nav;
}

.site-title {
    font-size: $base-font-size * 2;
    position: relative;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 2px;
    &,
    &:visited,
    &:hover {
	text-decoration: none;
    }
}
  

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    margin: 15px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.footer-stars {
    text-align: center;
    font-size: 24px;
}

.social-media-list {
    list-style: none;
    margin-left: 0;
    text-decoration: none;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}



@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit}));
        width:         calc(100% - (#{$spacing-unit}));
    }
}



/**
 * Page content
 */


.post-list-items {
    margin-left: 0;
    list-style: none;
    font-weight: 300;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    line-height: 24px;
    font-size: 10px;
    text-align: right;
    font-weight: 200;
    display: inline-block;
    float: right;
}

.post-link {
    display: inline-block;
    &:hover {
      text-decoration: none;
    }
}

/**
 * Posts
 */
.post-heade {
    margin-bottom: $spacing-unit;
    padding-top: 25px;
}

.post-content {
    padding: 10px;
    margin-bottom: $spacing-unit;
    max-width: 100%;
    word-wrap: break-word;
    h2 {

        @include media-query($on-laptop) {
        }
    }

    h3 {

        @include media-query($on-laptop) {
        }
    }

    h4 {

        @include media-query($on-laptop) {
        }
    }
}

.placeholder {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    font-size: $base-font-size * 2;
    background-color: #F5F6F7;
    height: 99px;
}

.page_header {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    font-size: $base-font-size * 2;
    border: solid 2px #000000;
    position: fixed; 
    display: inline-block;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 99px;
    background-color: #F5F6F7;

    z-index: 4500;
    .site_logo_title {
      display: none;
    }
    .site_logo {
      display: inline-block;
    }
    .site_title {
      display: inline-block;
    }

    @include media-query($on-laptop) {
    .site_logo_title {
      display: none;
    }
    .site_logo {
      display: inline-block;
    }
    .site_title {
      display: inline-block;
    }
    }
    @include media-query($on-palm){
      border-top: solid 2px #9f9386;
      border-bottom: solid 2px #9f9386;
      border-left: none;
      border-right: none;
      .site_logo_title {
	display: inline-block;
      }
      .site_logo {
	display: none;
      }
      .site_title {
	display: none;
      }
    }
  }

  .page_header span {
    margin: 15px 0px 0px 50px;
    font-size: 180%;
    font-weight: bold;
  }

  .wrap2 {
    text-align: center;
    width: 100%;
  }

  .site_title { 
    height: $header-height;
    margin: 35px 40px;
    float: right;
    display: block;
  } 

  .site_logo {
    margin: 15px 0px 0px 60px;
    height: 80px;
    border: 0px 0px 0px;
}

  .site_logo_title {
    margin-top: 15px;
    height: 80px;
    border: 0px 0px 0px;
    display: inline-block;
  }

  .center_logo_title {
    display: block;
    text-align: center;
    width: 100%;
  }
 
